
:root {
    /* For text and icons. */
    --colorForegroundNeutral: #14171f;    
    /* For text and icons. */
    --colorForegroundNeutralFaded: #606981;    
    --colorForegroundPrimary: #104fc6;    
    --colorForegroundCritical: #cb101d;    
    --colorForegroundPositive: #05751f;    
    --colorForegroundUpgrade: #874ce6;    
    /* You might not need this — just apply Opacity Disabled (40%) token to a layer. */
    --colorForegroundDisabled: #c7cddb;    
    /* Primary background for all components or surfaces, with the exception of Page. If in doubts which to use, use this. */
    --colorBackgroundElevationBase: #ffffff;    
    /* Use together with Raised elevation. It will then ensure it works also in dark mode properly. */
    --colorBackgroundElevationRaised: #ffffff;    
    /* Use together with Overlay elevation. It will then ensure it works also in dark mode properly. */
    --colorBackgroundElevationOverlay: #ffffff;    
    --colorBackgroundNeutral: #182d660a;    
    --colorBackgroundNeutralHighlighted: #182d6614;    
    --colorBackgroundNeutralFaded: #141a2b05;    
    --colorBackgroundPrimary: #104fc6;    
    /* For hover and active states */
    --colorBackgroundPrimaryHighlighted: #004ee1;    
    --colorBackgroundPrimaryFaded: #edf5ff;    
    --colorBackgroundCritical: #e22c2c;    
    --colorBackgroundCriticalHighlighted: #cb101d;    
    --colorBackgroundCriticalFaded: #fef1f2;    
    --colorBackgroundPositive: #118850;    
    --colorBackgroundPositiveHighlighted: #05751f;    
    --colorBackgroundPositiveFaded: #ebfef6;    
    --colorBackgroundUpgrade: #874ce6;    
    --colorBackgroundUpgradeHighlighted: #6a2bbf;    
    --colorBackgroundUpgradeFaded: #f5f2fd;    
    /* You might not need this — just apply Opacity Disabled (40%) token to a layer. */
    --colorBackgroundDisabled: #182d660a;    
    /* You might not need this — just apply Opacity Disabled (40%) token to a layer. */
    --colorBackgroundDisabledFaded: #141a2b05;    
    /* Use only for body background. If you need a background for your components, use one of the Background / Elevation styles. */
    --colorBackgroundPage: #ffffff;    
    /* Use only for background of the main page sections. If you need a background for your components, use one of the Background / Elevation styles. */
    --colorBackgroundPageFaded: #fafafa;    
    --colorBorderNeutral: #c7cddb;    
    --colorBorderNeutralFaded: #eceef3;    
    --colorBorderPrimary: #004ee1;    
    --colorBorderPrimaryFaded: #d0e2ff;    
    --colorBorderCritical: #cb101d;    
    --colorBorderCriticalFaded: #fbd5d8;    
    --colorBorderPositive: #05751f;    
    --colorBorderPositiveFaded: #cdedd5;    
    --colorBorderUpgrade: #6a2bbf;    
    --colorBorderUpgradeFaded: #e3dbfa;    
    /* You might not need this — just apply Opacity Disabled (40%) token to a layer. */
    --colorBorderDisabled: #dfe2ea;    
    /* To be used on Neutral background colors. */
    --colorOnBackgroundNeutral: #14171f;    
    /* To be used on Primary and Primary Highlighted background colors. */
    --colorOnBackgroundPrimary: #ffffff;    
    /* To be used on Critical and Critical Highlighted background colors. */
    --colorOnBackgroundCritical: #ffffff;    
    /* To be used on Positive and Positive Highlighted background colors. */
    --colorOnBackgroundPositive: #ffffff;    
    /* Not overriden by a theme. */
    --colorPersistentBlack: #14171f;    
    /* Not overriden by a theme. */
    --colorPersistentWhite: #ffffff;    
    --colorBackgroundBlur: #fffffff2;    
    --colorForegroundPlaceholder: #7f8694;    
    --colorBorderFocus: #4589ff;    
    --colorBackgroundBlurNeutral: #f4f5f7f2;    
    /* To be used on Upgrade and Upgrade Highlighted background colors. */
    --colorOnBackgroundUpgrade: #ffffff;    
    /* To be used together with Blur effect for interactive sticky elements. */
    --colorBackgroundBlurNeutralHighlighted: #ecedf0f2;    
    /* Used for highlighted text in inputs. */
    --colorBackgroundFocusTextHighlight: #d0e2ff;    
    --colorColorTestToken: #c7cddb;    
}