
:root {
    --shadowRaised: 0 1px 2px -1px rgba(20,23,31,0.1);  
    --shadowRaised2: 0 2px 3px 0 rgba(20,23,31,0.1);  
    --shadowOverlay: 0 15px 25px 0 rgba(20,23,31,0.07);  
    --shadowOverlay2: 0 5px 10px 0 rgba(20,23,31,0.05);  
    --shadowRaisedReverse: 0 -1px 2px -1px rgba(20,23,31,0.1);  
    --shadowRaisedReverse2: 0 -2px 3px 0 rgba(20,23,31,0.1);  
    --shadowOverlayReverse: 0 -15px 25px 0 rgba(20,23,31,0.07);  
    --shadowOverlayReverse2: 0 -5px 10px 0 rgba(20,23,31,0.05);  
    --shadowRaisedSide: -2px 0 3px 0 rgba(20,23,31,0.1);  
    --shadowRaisedSide2: -1px 0 2px -1px rgba(20,23,31,0.1);  
    --shadowOverlaySide: -5px 0 10px 0 rgba(20,23,31,0.05);  
    --shadowOverlaySide2: -15px 0 25px 0 rgba(20,23,31,0.07);  
    --shadowFocusRing: 0 0 0 3px rgba(69,137,255,1);  
    --shadowFocusRing2: 0 0 0 1px rgba(255,255,255,1);  
}