
:root {
    /* Use for actionable elements, such as buttons, etc. */
    --shadowShadowRaised: 0 1px 3px -1px rgba(20,23,31,1);  
    /* Use for actionable elements, such as buttons, etc. */
    --shadowShadowRaised2: 0 2px 3px -3px rgba(20,23,31,1);  
    --shadowShadowOverlay: 0 15px 25px 0 rgba(20,23,31,1);  
    --shadowShadowOverlay2: 0 5px 10px 0 rgba(20,23,31,1);  
    --shadowShadowRaisedReverse: 0 -1px 2px -1px rgba(20,23,31,1);  
    --shadowShadowRaisedReverse2: 0 -2px 3px 0 rgba(20,23,31,1);  
    --shadowShadowOverlayReverse: 0 -15px 25px 0 rgba(20,23,31,1);  
    --shadowShadowOverlayReverse2: 0 -5px 10px 0 rgba(20,23,31,1);  
    --shadowShadowRaisedSide: -2px 0 3px 0 rgba(20,23,31,1);  
    --shadowShadowRaisedSide2: -1px 0 2px -1px rgba(20,23,31,1);  
    --shadowShadowOverlaySide: -5px 0 10px 0 rgba(20,23,31,1);  
    --shadowShadowOverlaySide2: -15px 0 25px 0 rgba(20,23,31,1);  
    --shadowShadowFocusRing: 0 0 0 3px rgba(69,137,255,1);  
    --shadowShadowFocusRing2: 0 0 0 1px rgba(255,255,255,1);  
    --shadowShadowFocusRingFaded: 0 0 0 3px rgba(208,226,255,1);  
    --shadowShadowFocusRingFaded2: 0 0 0 1px rgba(255,255,255,1);  
}