/* Main title of the page */
.typographyTitle1 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* For documentation body */
.typographyBodyLargeWeightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* For documentation body */
.typographyBodyLargeWeightSemibold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* For documentation body */
.typographyBodyLargeWeightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Default text for everything */
.typographyBodyDefaultWeightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Default text for everything */
.typographyBodyDefaultWeightSemibold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Default text for everything */
.typographyBodyDefaultWeightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallWeightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallWeightSemibold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodySmallWeightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionWeightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionWeightSemibold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionWeightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionSmallWeightSemibold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyCaptionSmallWeightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyFeatured1LargeWeightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyFeatured1LargeWeightMedium 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyFeatured1LargeWeightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyFeatured2MediumWeightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyFeatured2MediumWeightMedium 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyFeatured2MediumWeightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyFeatured3SmallWeightRegular 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyFeatured3SmallWeightMedium 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyFeatured3SmallWeightBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH1 
 {
  
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH2 
 {
  
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 50px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH3 
 {
  
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH4 
 {
  
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH5 
 {
  
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLargeLead 
 {
  
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMediumLead 
 {
  
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyButtonLabel 
 {
  
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyParagraph 
 {
  
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographySmallParagraph 
 {
  
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTinyParagraph 
 {
  
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographySale 
 {
  
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* typewriter font test */
.typographyImpactLabel 
 {
  
  font-family: "Impact Label";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* importing test */
.typographyPoppins 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

